name: Testes E2E

on:
  pull_request:
  push:

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.18.2

      - name: Instalar dependências
        run: npm install

      - name: Build do app
        run: npm run build

      - name: Subir app
        run: |
          npm install -g serve
          serve -s build -l 3000 &

      - name: Esperar app ficar disponível
        run: npx wait-on http://localhost:3000

      - name: Rodar testes E2E
        run: npx cypress run
